/*
 ____                                                            __                                                     
/\  _`\                                                         /\ \                                                    
\ \ \L\ \   __       ____    ____   __  __  __    ___    _ __   \_\ \               _____      __        __        __   
 \ \ ,__/ /'__`\    /',__\  /',__\ /\ \/\ \/\ \  / __`\ /\`'__\ /'_` \             /\ '__`\  /'__`\    /'_ `\    /'__`\ 
  \ \ \/ /\ \L\.\_ /\__, `\/\__, `\\ \ \_/ \_/ \/\ \L\ \\ \ \/ /\ \L\ \            \ \ \L\ \/\ \L\.\_ /\ \L\ \  /\  __/ 
   \ \_\ \ \__/.\_\\/\____/\/\____/ \ \___x___/'\ \____/ \ \_\ \ \___,_\            \ \ ,__/\ \__/.\_\\ \____ \ \ \____\
    \/_/  \/__/\/_/ \/___/  \/___/   \/__//__/   \/___/   \/_/  \/__,_ /             \ \ \/  \/__/\/_/ \/___L\ \ \/____/
                                                                                      \ \_\              /\____/        
                                                                                       \/_/              \_/__/                                                                                                                                                 
*/


#password-body {
  background-image: url("/images/knorr_bg.png");
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
  position: relative;
  padding: 30px;
}

#password-container {
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
  background-color: gray;
  display: inline-block;
  padding: 1vw;
  position: relative;
  top: 30vh;
}

#password-title {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#password-input {
  border-radius: 4px;
  outline: none;
}

#password-submit-button {
  outline: none;
}

#password-error {
  position: relative;
  top: 32vh;
  color: maroon;
  visibility: hidden;
}

.logo-container {
  display: inline-block;
  position: fixed;
}

/*
                                                  ____                                
 /'\_/`\               __                        /\  _`\                              
/\      \      __     /\_\     ___               \ \ \L\ \   __        __        __   
\ \ \__\ \   /'__`\   \/\ \  /' _ `\              \ \ ,__/ /'__`\    /'_ `\    /'__`\ 
 \ \ \_/\ \ /\ \L\.\_  \ \ \ /\ \/\ \              \ \ \/ /\ \L\.\_ /\ \L\ \  /\  __/ 
  \ \_\\ \_\\ \__/.\_\  \ \_\\ \_\ \_\              \ \_\ \ \__/.\_\\ \____ \ \ \____\
   \/_/ \/_/ \/__/\/_/   \/_/ \/_/\/_/               \/_/  \/__/\/_/ \/___L\ \ \/____/
                                                                       /\____/        
*/

body {
  padding: 0;
  width: 100vw;
  margin: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.index-body {
  background-color: lightgray;
  height: 2000px;
}

.nav-item {
  border-right: 2px solid black;
  border-bottom: 1px solid black;
  border-radius: 0 0 5px 0;
  padding: 5px 3px 3px 3px;
  color: black;
  margin: 0px .5vw 0px .5vw;
  background-image: linear-gradient(to bottom, gray , white);
}

.index-navbar {
  background-color: white;
}

.navbar-container {
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 3;
}

.navbar-logo-container {
  margin: 0;
  padding: 0;
  background-image: url("/images/faded_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 0px;
  border-bottom: rgb(68, 68, 68) solid 2px;
}

a:hover,a:visited { 
  color:#000; 
  text-decoration: none;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  color:#000; 
}

.progress-container {
  width: 100%;
  height: 8px;
  background: black;
  margin: 0;
  padding: 0;
}

.progress-bar {
  height: 8px;
  background: #4caf50;
  width: 0%;
  margin: 0;
  padding: 0;
}

/*MAIN PAGE STUFF*/

.main-container {
  margin: 0;
  padding: 0;
}

.index-logo-head {
  background-image: url("/images/faded_bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  padding: 100px 3vw 20vw 3vw;
  z-index: 1;
}

.logo-bg-faded {
  width: 100%;
}

.index-logo-placeholder {
  min-width: 150px;
  visibility: hidden;
  width: 90%;
}

.index-logo-fixed {
  position: fixed;
  visibility: hidden;
  z-index: 2;
}
